In [21]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import scipy as sts

In [24]:
"""Reading manipulating file with country name
and returning a dataframe and transpose of the dataframe as return"""
def dataFrame(file_name, years, countries, col, value1):
    # Reading Data for dataframe
    df = pd.read_csv(file_name, skiprows = 4)
    # Grouping data with col value
    df1 = df.groupby(col, group_keys = True)
    #retriving the data with the all the group element
    df1 = df1.get_group(value1)
    #Reseting the index of the dataframe
    df1 = df1.reset_index()
    #Storing the column data in a variable
    a = df1['Country Name']
    # cropping the data from dataframe
    df1 = df1.iloc[countries, years:]
    df1.insert(loc=0, column='Country Name', value=a)
    #Dropping the NAN values from dataframe Column wise
    df1= df1.dropna(axis = 1)
    #transposing the index of the dataframe
    df2 = df1.set_index('Country Name').T
    #returning the normal dataframe and transposed dataframe
    return df1, df2

In [27]:
# years using for the data analysis
years = 35
# countries which are using for data analysis
countries = [35, 40, 55, 81, 109, 119, 202, 205, 251]
'''calling dataFrame functions for all the dataframe which will be used for visualization'''
GDP_capita_c, GDP_capita_y = dataFrame("API_NY.GDP.PCAP.CD_DS2_en_csv_v2_4770417.csv", years,
                                     countries, "Indicator Name", "GDP per capita (current US$)")
GDP_capita_c

,Country Name,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
35,Canada,21448.361960,21768.343290,20879.848330,20121.161250,19935.381460,20613.787880,21227.347530,21901.562850,21024.585070,...,52669.089960,52635.174960,50955.998320,43596.135540,42315.603710,45129.429300,46548.638410,46328.671840,43258.263870,51987.939050
40,China,317.884673,333.142145,366.460692,377.389839,473.492279,609.656679,709.413755,781.744164,828.580479,...,6300.615118,7020.338485,7636.116601,8016.431435,8094.363367,8816.986905,9905.342004,10143.838200,10408.669760,12556.333120
55,Germany,22303.961330,23357.757730,26438.230390,25522.629570,27076.606750,31658.349380,30485.866550,26964.049470,27289.059360,...,43855.854470,46298.922920,48023.869980,41103.256440,42136.120790,44652.589170,47939.278290,46793.686760,46772.825350,51203.554470
81,United Kingdom,19095.467000,19900.726650,20487.170790,18389.019570,19709.238100,23202.461580,24440.328140,26781.362170,28297.866000,...,42485.586070,43449.091720,47447.588930,45071.074320,41146.077360,40621.334480,43306.308300,42747.080460,40318.557570,46510.282780
109,India,368.749759,303.850438,317.559136,301.501195,346.227393,373.628280,399.577503,414.898870,412.509511,...,1434.018198,1438.057480,1559.864518,1590.173918,1714.280355,1957.968841,1974.377788,2047.232704,1910.421473,2256.590409
119,Japan,25371.464170,28915.008200,31414.984640,35681.963940,39933.515060,44197.619100,39150.039630,35638.231960,32423.755610,...,49145.280430,40898.647900,38475.395250,34960.639380,39375.473160,38834.052930,39727.116600,40458.001880,39918.167560,39312.660370
202,Russian Federation,3492.710205,3490.452393,3098.802734,2930.670166,2662.104004,2665.779785,2643.929199,2737.572021,1834.861816,...,15420.875000,15974.644530,14095.648440,9313.013672,8704.898438,10720.333010,11287.360350,11536.250980,10169.086910,12194.777340
205,Saudi Arabia,7349.704073,7939.298502,7932.706453,7450.659344,7359.449050,7588.761794,8174.142709,8323.824823,7169.369863,...,23878.585290,23716.260620,23543.566340,19977.794690,19300.050010,20138.146330,23318.738170,22430.238230,19539.565810,23185.870790
251,United States,23888.600010,24342.258900,25418.990780,26387.293730,27694.853420,28690.875700,29967.712720,31459.138980,32853.676950,...,51784.418570,53291.127690,55123.849790,56762.729450,57866.744930,59907.754260,62823.309440,65120.394660,63530.633480,70248.629000

In [28]:
GDP_capita_y

Country Name,Canada,China,Germany,United Kingdom,India,Japan,Russian Federation,Saudi Arabia,United States
1990,21448.36196,317.884673,22303.96133,19095.46700,368.749759,25371.46417,3492.710205,7349.704073,23888.60001
1991,21768.34329,333.142145,23357.75773,19900.72665,303.850438,28915.00820,3490.452393,7939.298502,24342.25890
1992,20879.84833,366.460692,26438.23039,20487.17079,317.559136,31414.98464,3098.802734,7932.706453,25418.99078
1993,20121.16125,377.389839,25522.62957,18389.01957,301.501195,35681.96394,2930.670166,7450.659344,26387.29373
1994,19935.38146,473.492279,27076.60675,19709.23810,346.227393,39933.51506,2662.104004,7359.449050,27694.85342
1995,20613.78788,609.656679,31658.34938,23202.46158,373.628280,44197.61910,2665.779785,7588.761794,28690.87570
1996,21227.34753,709.413755,30485.86655,24440.32814,399.577503,39150.03963,2643.929199,8174.142709,29967.71272
1997,21901.56285,781.744164,26964.04947,26781.36217,414.898870,35638.23196,2737.572021,8323.824823,31459.13898
1998,21024.58507,828.580479,27289.05936,28297.86600,412.509511,32423.75561,1834.861816,7169.369863,32853.67695
1999,22315.24667,873.287062,26734.94254,28786.95928,440.961455,36610.16832,1330.757202,7697.266876,34515.39023
2000,24271.00206,959.372484,23694.76048,28290.97250,442.034779,39169.35957,1771.594116,8795.261339,36329.95607
2001,23822.06012,1053.108243,23628.32721,27886.79859,449.911125,34406.18246,2100.352539,8337.320551,37133.62311
2002,24255.33858,1148.508290,25197.26560,30079.66004,468.844428,32820.79364,2377.529541,8380.959295,37997.75966
2003,28300.46310,1288.643252,30310.35760,34479.39293,543.843799,35387.03742,2975.125244,9321.803874,39490.27496
2004,32143.68141,1508.668098,34106.65812,40390.78583,624.105094,38298.98017,4102.364746,10935.016590,41724.63163
2005,36382.50792,1753.417829,34520.23965,42131.69940,710.509345,37812.89502,5323.462891,13462.763050,44123.40707
2006,40504.06073,2099.229435,36353.88033,44536.61972,802.013742,35991.54600,6920.188965,14848.602060,46302.00088
2007,44659.89514,2693.970063,41640.08087,50435.37029,1022.731629,35779.02454,9101.254883,15756.193620,48050.22378
2008,46710.50558,3468.304602,45612.71062,47429.93634,993.503772,39876.30397,11635.272460,18944.857350,48570.04598
2009,40876.31015,3832.236432,41650.36783,38821.17958,1096.634980,41308.99684,8562.813477,15064.631280,47194.94335
2010,47562.08343,4550.453108,41572.45595,39693.19387,1350.634322,44968.15623,10674.996090,17958.948990,48650.64313
2011,52223.69611,5614.352135,46705.89580,42150.69814,1449.601789,48760.07895,14311.083980,22262.613660,50065.96650
2012,52669.08996,6300.615118,43855.85447,42485.58607,1434.018198,49145.28043,15420.875000,23878.585290,51784.41857
2013,52635.17496,7020.338485,46298.92292,43449.09172,1438.057480,40898.64790,15974.644530,23716.260620,53291.12769
2014,50955.99832,7636.116601,48023.86998,47447.58893,1559.864518,38475.39525,14095.648440,23543.566340,55123.84979
2015,43596.13554,8016.431435,41103.25644,45071.07432,1590.173918,34960.63938,9313.013672,19977.794690,56762.72945
2016,42315.60371,8094.363367,42136.12079,41146.07736,1714.280355,39375.47316,8704.898438,19300.050010,57866.74493
2017,45129.42930,8816.986905,44652.58917,40621.33448,1957.968841,38834.05293,10720.333010,20138.146330,59907.75426
2018,46548.63841,9905.342004,47939.27829,43306.30830,1974.377788,39727.11660,11287.360350,23318.738170,62823.30944
2019,46328.67184,10143.838200,46793.68676,42747.08046,2047.232704,40458.00188,11536.250980,22430.238230,65120.39466
2020,43258.26387,10408.669760,46772.82535,40318.55757,1910.421473,39918.16756,10169.086910,19539.565810,63530.63348
2021,51987.93905,12556.333120,51203.55447,46510.28278,2256.590409,39312.66037,12194.777340,23185.870790,70248.62900